* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #212527;
  font-family: 'Walter Turncoat', cursive;
}

a, a:visited, a:active {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.show-block {
  display: block;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  opacity: 1;
}

.btn {
  text-transform: uppercase;
  padding: .7rem 2rem;
  color: #fff;
}

.btn:hover {
}

#game-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
}

#hidden-screens {
  display: none;
}

.screen {
  width: inherit;
  height: inherit;
  overflow: hidden;
  position: relative;
}

#title-screen {
  background: url(../img/title-screen-bg.png) #000 no-repeat center center;
  background-size: cover;
  color: #fff;
}

#title-screen #game-logo, #game-over-text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s;
  animation: slideDown .8s ease;
  opacity: 1;
}

#title-screen #game-subtitle {
  position: absolute;
  top: 65%;
  left: 59%;
  transform: translate(-50%, -50%);
  transition: all .5s;
  animation: slideRight .5s ease;  
}
#title-screen #start-button, #restart-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}

#title-screen #start-button img {
  transition: all .5s;
  animation: zoom .5s ease-in; 
}

#inside-game-screen {
  background: url(../img/sprites/cave-bg.png) no-repeat #100b09;
  background-size: cover;
  overflow: hidden;
}

#inside-game-screen #lava-river, #inside-game-screen #character-wrapper {
  z-index: 0;
  position: absolute;
  width: inherit;
  overflow: hidden;
}

#inside-game-screen #lava-river {
  bottom: 0;
}

#inside-game-screen #lava-river #lava-top {
  background: url(../img/sprites/lava-sprite.png) no-repeat;
  background-position-y: 0;
  background-position-x: center;
  height: 22px;
  animation: lava .8s steps(3) infinite;
}

#inside-game-screen #lava-river #lava-bottom {
  background: url(../img/sprites/lava-bottom.png) no-repeat bottom center;
  height: 156px;
}

#character-wrapper {
  text-align: center;
}

#character-wrapper #chain {
  width: 8px;
  height: 550px;
  background: url(../img/sprites/chain.png) repeat-y 0 0;
  margin: 0 auto;
  margin-top: -370px;
  transition: all .5s;
  transform-origin: top center;
  animation: shake 4s infinite alternate;
}

#character-wrapper #character {
  margin-top: -8px;
  transform-origin: top center;
  animation: moveCharacter 4s infinite alternate;
}

.game-hud {
  z-index: 20;
  position: relative;
  color: #fff;
}

#guess-container {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-top: 10%;
  background-color: rgba(237, 28, 36, .4);
  padding: 5px 0;
}

#letters-board {
  display: grid;
  grid-template-columns: repeat(9, auto);
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 30px;
  transition: all 1s;
}

#letters-board .letter {
  padding: .3rem .5rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  transition: all .5s;
}

#letters-board .letter.clicked {
  opacity: .3;
}

#game-over-screen {

}

#game-over-bg {
  position: absolute;
  z-index: 0;
  width: inherit;
  height: inherit;
  animation-delay: 2.5s;
  animation: blackWhite 10s forwards;
}

/* Animations */

/* Start Screen */

@keyframes slideDown {
  0% {
    opacity: 0;
    top: -500px;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    left: 200%;
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* */

@keyframes lava {
  100% {
    background-position-y: -66px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-1deg)
  }
  100% {
    transform: rotate(1deg)
  }
}

@keyframes moveCharacter {
  0% {
    margin-left: 18px;
    transform: rotate(-1deg)
  }
  100% {
    margin-left: -18px;
    transform: rotate(1deg)
  }
}

/* */

@keyframes blackWhite {
  100% {
    filter: grayscale(100%) blur(1px) brightness(40%);
  }
}